<div class="header">
  <div class="logo">
    <img src="/assets/img/logo.png"
         alt="Bruno-Games-Logo"
         (click)="goToGameCategory('popular-games')">
  </div>
  <div ngbDropdown placement="bottom-right" class="d-inline-block">
    <button class="btn btn-outline-secondary"
            id="dropdown-header"
            ngbDropdownToggle
            [disabled]="!gameCategories">Games
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdown-header">
      <button class="dropdown-item" *ngFor="let category of gameCategories" (click)="goToGameCategory(category.slug)">
        {{category.name}}
      </button>
    </div>
  </div>
</div>
