@import "../../../assets/css/mixins";
@import "../../../assets/css/variables";

/*Enable this for fade animation works*/
:host {
  display: block;
}

.game-list-container {
  padding: 0 1rem;
}

.game-category-name {
  margin: 2rem 0;
  text-align: center;
  @include font-definition('orbitron-black', 25px, $gray-color, uppercase, bold);
}

.cards-fix {
  min-width: 18rem;
  max-width: 18rem;
  margin: 1rem;
}

.load-more {
  display: flex;
  justify-content: center;
  padding: 0 0 2rem 0;

  button {
    @include font-definition('orbitron-regular', 16px, $white-smooth-color, uppercase, normal);
  }
}

/*Mobile style*/
@media screen and (max-width: 758px) {
  .load-more {
    margin-top: -4rem;
  }
}
