<div class="game-list-container">
  <app-search-bar></app-search-bar>

  <div class="games-content" *ngIf="!isLoading" @fadeAnimation>
    <h2 class="game-category-name">{{gameCategory?.name}}</h2>

    <div class="games-container container">
      <div class="row justify-content-center">
        <app-game *ngFor="let game of gameCategory?._embedded.games | slice: 0:maxLoadedGames | filterPipe: searchBarValueHandler: ['name']"
                  @fadeAnimation
                  [game]="game">
        </app-game>
        <div class="cards-fix col-sm-12 col-md-6 col-lg-3"
             *ngFor="let i of [1, 2, 3]">
        </div>
      </div>
      <div class="load-more">
        <button type="button"
                class="btn btn-secondary"
                *ngIf="maxLoadedGames < gameCategory?._embedded.games.length"
                (click)="loadMoreGames()"
                @fadeAnimation>
          Load More
        </button>
      </div>
    </div>
  </div>
  <app-loading *ngIf="isLoading" @fadeAnimation></app-loading>
</div>
