//
// This file contains foundational variables.
//

$primary-color: rgb(30, 33, 35) !default;
$gray-color: rgb(125, 134, 140) !default;
$white-smooth-color: #f7f7f7 !default;
$black-box-shadow: rgba(0, 0, 0, 0.75) !default;
$blue-smooth-color: #54839B !default;
