/*Orbitron font style*/

@font-face {
  font-family: 'orbitron-regular';
  src: url("./assets/fonts/orbitron/Orbitron-Regular.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orbitron-medium';
  src: url("./assets/fonts/orbitron/Orbitron-Medium.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orbitron-bold';
  src: url("./assets/fonts/orbitron/Orbitron-Bold.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orbitron-black';
  src: url("./assets/fonts/orbitron/Orbitron-Black.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}
