@import "../../../assets/css/variables";
@import "../../../assets/css/mixins";

.card {
  min-height: 10rem;
  min-width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: .5rem 1rem;
  border-radius: .3rem;
  box-shadow: 0 0 12px 0 $black-box-shadow;
  background-color: $white-smooth-color;

  &:hover {
    box-shadow: 0 0 12px 7px $gray-color;
  }

  .image {
    img {
      width: 100%;
      height: auto;
      border-radius: .2rem;
      cursor: pointer;
    }
  }

  .title {
    margin: .5rem 0;
    @include font-definition('orbitron-black', 18px, $gray-color, capitalize, bold);
  }

  .vendor {
    @include font-definition('orbitron-regular', 16px, $blue-smooth-color, normal, normal);
  }
}

/*Mobile style*/
@media screen and (max-width: 758px) {
  .card {
    margin: 1rem 0;
  }
}
